h1 {
  color: Red;
  font-size: 62px;
  text-align: center;
}
h1 {
  border-top: 15px solid red;
}

h2 {
  border-top: 4px white;
}

div {
  border-top: triple;
}
.navbar ul{
    inline-style-type
}
p {
  style="text-align:center;">Centered paragraph.
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  
}

li {
float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
}
</style>
</head>

<body>
<style>
body {
  margin: 0;
}

.header {
  background-color: white;
  padding: 20px;
  text-align: center;
font-size: 100px;
}

</style>
</head>
<style>  {
  background-color: white;
  height: 200px;
  width: 200px;
  border-start-end-radius: 50px;
}
.header {
    width: auto;
    padding: 200px;
    background-image:url("https://vastphotos.com/files/uploads/photos/11796/us-capitol-building-large-print-l.jpg?v=20240628121909");
    background-repeat: no-repeat;
    background-size:cover, contain;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 0px;
  text-align: center;
  color: white;
}

h2 {
  float: center;
text-align: center;
}

p {
  float: center;
text-align: center;
}

div.mycontainer {
  width:100%;
  overflow:auto;
  text-align: justified;
}
div.mycontainer div {
  width:33.25%;  
  float:left;
  overflow:visible;
text-align: center;
}

h3 { 
  text-align: center;
}

p1 { 
  text-align: center;
}
